.cart1{
    display: flex;
    justify-content: space-between;
    border: 1px;
    background-color: rgb(253, 247, 247) ;
    width: 100vw;
    
   
    }
.cart2{
    text-align: end;
    right: 0;
    height: max-content;
    
}
.sum{margin: 0 40px 40px 0;}
.ftk{margin: 0 40px 40px 0;}



.cart1-image{
   padding-left: 10px;
   
}

.center-me{margin: 0 auto;}
@media(max-width: 768px){
   .cart1{
        width: 100vw;
        height: 10vh;
    }
    .cart2{
        display: inline;
        width: 90vw;
        height: 20vh;

    }
    

}
@media(max-width: 480px){

}
/*STYLE CARTPAGE+*/