header {
  background-color: #ff5722;
  color: #fff;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo img {
  width: 100px;
  height: auto;
  margin-left: 20px;
  cursor: pointer;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

.search-box {
  display: flex;
  align-items: center;
}

.search-box input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-box button {
  background-color: #ff5722;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.product-list {
  display: grid;
  gap: 20px;
  padding: 50px;
}

.product-detail {
  display: flex;
  padding: 30px;
  border: 1px solid #ccc;
  width: 80%;
  margin: 0 auto;
  margin-top: 15px;
}

.product-image img {
  max-width: 100%;
  height: 550px;
  margin-right: 20px;
}

.product-info {
  flex: 1;
  margin-left: 10px;
}

.product-info h1 {
  font-size: 25px;
  margin-top: 20px;
  margin-left: 12px;
}
.product-info h2 {
  font-size: 35px;
  margin-top: 15px;
  color: red;
  margin-left: 12px;
}

.product-info p {
  font-size: 1rem;
  color: #888;
  margin-left: 12px;
}

.product-info button {
  font-size: 16px;
  background-color: #ff5722;
  color: #fff;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.product button:hover {
  background-color: #e64a19;
}

@media (min-width: 768px) {
  .product-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo img {
  width: 80px;
  height: auto;
  margin-left: 10vh;
}

.footer-info p {
  margin: 5px 50px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  font-size: 15px;
}

main {
  display: flex;
}

.banner-left {
  background-color: #f2f2f2;
  padding: 20px;
  position: sticky;
  top: 20%;
  left: 0;
  z-index: 1000;
  height: 10%;
}

.banner-right {
  background-color: #f2f2f2;
  padding: 20px;
  position: sticky;
  top: 20%;
  right: 0;
  z-index: 1000;
}

.error-message {
  color: red;
  display: none;
}

.loadmore {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15vh;
  margin-bottom: 10vh;
}

.loadmore a {
  text-decoration: none;
}

.loadmore a:hover {
  opacity: 0.5;
}

.style {
  padding: 30px;
  border: 1px solid #ccc;
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.style-info img {
  width: 70px;
}
.style-info h1 {
  font-size: 30px;
  margin-left: 20px;
}
.style-info button {
  background-color: #e64a19;
  color: white;
  font-size: 25px;
  height: 60px;
  width: 200px;
  text-align: center;
  border-color: #e64a19;
  border-radius: 6px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 20px;
}
.style-info h1 + img{
    display: flex;
}
