header {
  background-color: #ff5722;
  color: #fff;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo img {
  width: 100px;
  height: auto;
  margin-left: 20px;
  cursor: pointer;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

.search-box {
  display: flex;
  align-items: center;
}

.search-box input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-box button {
  background-color: #ff5722;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.product-list {
  display: grid;
  gap: 20px;
  padding: 50px;
}

.product-detail {
  display: flex;
  align-items: center;
  padding: 30px;
  border: 1px solid #ccc;
  width: 80%;
  margin: 0 auto;
  margin-top: 15px;
}
.product-info h2 {
  margin-left: 20px;
}
.product-image img {
  margin-left: 100px;
  max-width: 100%;
  height: 200px;
  margin-right: 20px;
}
.product-info p {
  margin-left: 100px;
  font-size: 25px;
}
.product-info button {
  margin-left: 100px;
  margin-top: 15px;
  width: 70px;
  height: 40px;
  font-size: 25px;
  background-color: #ff5722;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

@media (max-width: 1280px) {
    .product-image img {
        height: 50px;
      }
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  display: block;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo img {
  width: 80px;
  height: auto;
  margin-left: 10vh;
}

.footer-info p {
  margin: 5px 50px;
}
.style {
  padding: 30px;
  border: 1px solid #ccc;
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: right;
}

.style-info h1 {
  font-size: 40px;
  margin-left: 20px;
}
.style-info p {
  font-size: 30px;
}
.style-info button {
  background-color: #e64a19;
  color: white;
  font-size: 25px;
  height: 60px;
  width: 200px;
  text-align: center;
  border-color: #e64a19;
  border-radius: 6px;
  padding: 5px 10px;
  cursor: pointer;
}
