    <title><%= data.title %></title>
  </head>
  <body>
    <h1 class="lienquan1 text-center">Liên quân là gì ?</h1>
    <p class="lienquan1 text-center">Là trò chơi đấu trường trực tuyến nhiều người chơi (MOBA) được phát triển cho thiết bị di động. Lối chơi tổng thể của Liên Quân rất giống với Liên Minh Huyền Thoại, một trò chơi MOBA trên PC được phát triển và phát hành bởi Riot Games, cũng là công ty con của Tencent và công ty chị em với TiMi.[9]

      Người chơi điều khiển các nhân vật được gọi là anh hùng (thường quen gọi là tướng) và mỗi anh hùng này có một bộ khả năng riêng.[10] Các anh hùng bắt đầu trò chơi ở cấp độ thấp và có thể kiếm vàng và kinh nghiệm (XP) theo nhiều cách khác nhau: Giết những sinh vật không phải người chơi như lính đi đường hoặc quái vật, đánh bại những người chơi khác, phá hủy công trình, thụ động theo thời gian và thông qua các vật phẩm gọi là trang bị có thể mua qua cửa hàng. Kiếm được kinh nghiệm để mở khóa và tăng cường các kỹ năng, làm cho anh hùng mạnh mẽ hơn, do đó tất cả người chơi đều bình đẳng khi bắt đầu mỗi trận đấu.
      
      Các trận đấu mang lại cho người chơi phần thưởng, chẳng hạn như vàng, sau đó có thể được sử dụng để mua nhiều loại anh hùng hoặc các vật phẩm khác.[11] Ngoài ra, người chơi có thể tham gia chế độ xếp hạng, cho phép ghép với những người chơi ở trình độ kỹ năng của họ và được đánh giá thông qua xếp hạng trong trò chơi.[12] Các ngôi sao kiếm được nếu chiến thắng và bị mất nếu thua cuộc.
      
      Các chế độ
      5v5 là chế độ thường, đấu hạng, đấu đỉnh cao và cúp vinh quang nằm ở chiến trường Bình nguyên vô tận và là chế độ phổ biến nhất. Người chơi thi đấu trong các trận đấu này kéo dài trung bình khoảng 12 - 18 phút. Người chơi đặt mục tiêu phá hủy các tháp pháo (thường quen gọi là trụ) của kẻ thù trên bản đồ và đảm bảo các mục tiêu như tiêu diệt Rồng/Rồng ánh sáng và Ceasar/Ceasar bóng tối/Ceasar bạo chúa , với điều kiện chiến thắng là phá hủy nhà chính của kẻ thù.[13]
      
      3v3 là chế độ nằm ở chiến trường Cao nguyên xanh và sử dụng bản đồ nhỏ hơn. Trong chế độ này, chỉ có một pháo tháp và nhà chính cho cả hai đội, được thiết kế để nhanh hơn và thường kéo dài trong 4 - 6 phút.
      
      1v1 là chế độ nằm ở chiến trường Cầu độc đạo, chỉ có một làn, hai bụi rậm ở bên trái và bên phải của chiến trường ngang, một bình HP, một pháo tháp và một nhà chính có màu xanh và đỏ.
      
      10v10 là chế độ giải trí nằm ở Bình nguyên vô tận nhưng lớn hơn, trong trận cho phép người chơi trang bị tối đa là 10 trang bị. Người chơi có thể cường hóa kỹ năng cho các anh hùng bằng số lượng xu 10v10 nhất định.
      
      Vua tốc độ là chế độ đua xe. Mỗi đội có hai người chơi, chạy đua với bốn đội khác. Đội đầu tiên hoàn thành hai vòng sẽ thắng cuộc đua. Người chơi có thể dùng chức năng lên xe trên một phương tiện và lái cùng với đồng đội của mình trong chế độ này.
      
      Đấu trường siêu tốc là chế độ giải trí 5v5. Quyền tự do lựa chọn anh hùng bị hạn chế trong chế độ này do người chơi nhận được một anh hùng ngẫu nhiên khi bắt đầu trận đấu với một cơ hội đổi ngẫu nhiên. Thời gian hồi chiêu của các kỹ năng giảm 70% và không tốn năng lượng cho tất cả các anh hùng.
      
      Đấu hỗn loạn là chế độ chơi 5v5 trong đó người chơi được chọn ngẫu nhiên các anh hùng. Mỗi người chơi sẽ được hệ thống chọn ngẫu nhiên một anh hùng và có thể đổi khác ngẫu nhiên. Bản đồ của chế độ nằm ở Cầu độc đạo, chỉ có một làn đường với hai pháo tháp và một nhà chính được kết nối ở hai đầu của làn đường. Có một số hạn chế nhất định không xuất hiện trong chế độ này: trang bị chỉ có thể được mua trước khi rời khỏi căn cứ hoặc sau khi bị hạ và căn cứ không cho phép hồi sinh lực và năng lượng. Có các vị trí phục hồi sinh lực xuất hiện bên cạnh mỗi pháo tháp, cung cấp cho các anh hùng một hiệu ứng hồi phục nhỏ.
      
      Đấu móc là một trong những chế độ giải trí. Bản đồ trò chơi nằm ở Thuyền ma, được tạo thành từ hai thuyền hải tặc lớn được kết nối với nhau. Cũng là 5v5, nhưng không có lính đi đường, pháo tháp và cũng có các đièu kiện giống như ở Đấu hỗn loạn: trang bị chỉ có thể được mua trước khi rời khỏi căn cứ hoặc sau khi bị hạ và căn cứ không cho phép hồi sinh lực và năng lượng trong chế độ này. Mỗi người chơi có thể sử dụng Móc câu như một khả năng đặc biệt, có thể tóm lấy kẻ thù trên thuyền đối diện hoặc từ khoảng cách xa. Người chơi đặt mục tiêu chiếm được Vùng kiểm soát, nằm ở trung tâm bản đồ và giữ vùng này trong một khoảng thời gian nhất định (cho đến khi bộ đếm đạt 100%). Tỷ lệ chiếm đóng tăng theo số lượng người chơi đứng trong khu vực.[14]
      
      Đấu bóng đá là chế độ giải trí 3v3. Bản đồ trò chơi là Sân cỏ Anthanor, tương tự như sân bóng ngoài đời thực với bầu không khí bãi biển mùa hè. Để đạt được chiến thắng, người chơi phải ghi được một số bàn thắng nhất định bằng kỹ năng duy nhất là đá, đây là một khả năng tuyến tính duy nhất, nhưng nó có thể được kéo. Sử dụng khả năng này sẽ đá bóng qua một khoảng cách dài theo hướng được chỉ định.
      
      Đấu trường sinh tử là chế độ giải trí 2v2v2v2v2 trên chiến trường gọi là Vùng đất chết (Death Realm) và không giống như bản đồ 5v5 thông thường, các điểm xuất phât khác nhau thuộc về các đội khác nhau trên bản đồ, cũng như các giai đoạn khác nhau diễn ra trong khoảng thời gian cố định bao gồm các quái vật khác nhau mang lại nhiều loại lợi ích khác nhau. Năm đội đối đầu với nhau trên chiến trường. Người chơi giành được điểm bằng cách đánh bại các đối thủ từ các đội khác. Thời gian cho cả trận là 8 phút. Khi hết giờ, các đội được xếp hạng theo tổng điểm của họ và điểm số trên bản đồ được hiển thị từ vị trí thứ nhất đến vị trí thứ năm.</p>
  </body>
</html>
